In [6]:
cd /app/data

/app/data

/usr/local/lib/python3.10/dist-packages/IPython/core/magics/osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [1]:
pwd

'/app/notebooks'

In [11]:
import pandas as pd

df = pd.read_json('/app/data/accounts.json')
df.head()

   account_id              name       type
0        1000              Cash      Asset
1        2000  Accounts Payable  Liability

In [12]:
df1 = pd.read_json('/app/data/close_tasks.json')
df1.head()

  task_id            name assigned_to       status    due_date
0      T1  Reconcile Cash       Alice     Complete  2025-06-05
1      T2       Review AP         Bob  In Progress  2025-06-06

In [13]:
df2 = pd.read_json('/app/data/journal_entries.json')
df2.head()

,entry_id,date,lines,description
0,JE1001,2025-05-31,"[{'account_id': '1000', 'debit': 500, 'credit'...",Vendor payment

In [20]:
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("ReadMultiLineJSON").getOrCreate()

# Path to your JSON file
json_file_path = "/app/data/journal_entries.json"

# Read the multi-line JSON file into a DataFrame
df = spark.read.option("multiLine", "true").json(json_file_path)

# Show the DataFrame schema and data
df.printSchema()
df.show()

# Stop the SparkSession
spark.stop()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/22 13:28:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

root
 |-- date: string (nullable = true)
 |-- description: string (nullable = true)
 |-- entry_id: string (nullable = true)
 |-- lines: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- account_id: string (nullable = true)
 |    |    |-- credit: long (nullable = true)
 |    |    |-- debit: long (nullable = true)

+----------+--------------+--------+--------------------+
|      date|   description|entry_id|               lines|
+----------+--------------+--------+--------------------+
|2025-05-31|Vendor payment|  JE1001|[{1000, 0, 500}, ...|
+----------+--------------+--------+--------------------+

In [49]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, ArrayType
from pyspark.sql.functions import col, from_json, trim, when, explode, regexp_replace, explode_outer

# Initialize Spark session
spark = SparkSession.builder.appName("account_closing").getOrCreate()

# Define schema for the DataFrame
account_schema = StructType([
    StructField("account_id", StringType(), True),
    StructField("name", StringType(), True),
    StructField("type", StringType(), True)    	
    ])

# Define schema for the close_tasks DataFrame
close_tasks_schema = StructType([
    StructField("task_id", StringType(), True),
    StructField("name", StringType(), True),
    StructField("assigned_to", StringType(), True),
    StructField("status", StringType(), True),
    StructField("due_date", StringType(), True)
])

# multiline=True so Spark can parse a top-level JSON array
df_account = spark.read.option("multiline", "true").schema(account_schema).json('/app/data/accounts.json')

# inspect
df_account.printSchema()
df_account.show(truncate=False)                    

# multiline=True so Spark can parse a top-level JSON array
df_close_tasks1 = spark.read.option("multiline", "true").schema(close_tasks_schema).json('/app/data/close_tasks.json')

df_close_tasks = df_close_tasks1.select("task_id", "name", "assigned_to","status", to_date("due_date", "yyyy-MM-dd").alias("due_date"))

# inspect
df_close_tasks.printSchema()
df_close_tasks.show(truncate=False)

root
 |-- account_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- type: string (nullable = true)

+----------+----------------+---------+
|account_id|name            |type     |
+----------+----------------+---------+
|1000      |Cash            |Asset    |
|2000      |Accounts Payable|Liability|
+----------+----------------+---------+

root
 |-- task_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- assigned_to: string (nullable = true)
 |-- status: string (nullable = true)
 |-- due_date: date (nullable = true)

+-------+--------------+-----------+-----------+----------+
|task_id|name          |assigned_to|status     |due_date  |
+-------+--------------+-----------+-----------+----------+
|T1     |Reconcile Cash|Alice      |Complete   |2025-06-05|
|T2     |Review AP     |Bob        |In Progress|2025-06-06|
+-------+--------------+-----------+-----------+----------+

In [32]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, ArrayType,IntegerType
from pyspark.sql.functions import col, from_json, trim, when, explode, regexp_replace, explode_outer, to_date

spark = SparkSession.builder.appName("ReadJSONWithSchema").getOrCreate()

# Path to your JSON file
json_file_path = "/app/data/journal_entries.json"

# Define schema for journal_entries_data (JSON array)
journal_schema = StructType([
    StructField("entry_id", StringType(), nullable=True),
    StructField("date", StringType(), nullable=True),
    StructField("lines", ArrayType(
        StructType([
            StructField("account_id", StringType(), nullable=True),
            StructField("debit", IntegerType(), nullable=True),
            StructField("credit", IntegerType(), nullable=True),
        ])
    ), nullable=True),
    StructField("description", StringType(), nullable=True)
])

# multiline=True so Spark can parse a top-level JSON array
df = spark.read.option("multiline", "true").schema(journal_schema).json(json_file_path)

# inspect
df.printSchema()
df.show(truncate=False)

# explode lines to inspect line-level fields
df_lines = df.select("entry_id", "date", "description", explode(col("lines")).alias("line"))
df_lines.select("entry_id", to_date("date", "yyyy-MM-dd").alias("date"),
                "description",
                col("line.account_id").alias("account_id"),
                col("line.debit").alias("debit"),
                col("line.credit").alias("credit")
               ).show(truncate=False)

spark.stop()

25/09/22 14:55:46 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

root
 |-- entry_id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- lines: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- account_id: string (nullable = true)
 |    |    |-- debit: integer (nullable = true)
 |    |    |-- credit: integer (nullable = true)
 |-- description: string (nullable = true)

+--------+----------+--------------------------------+--------------+
|entry_id|date      |lines                           |description   |
+--------+----------+--------------------------------+--------------+
|JE1001  |2025-05-31|[{1000, 500, 0}, {2000, 0, 500}]|Vendor payment|
+--------+----------+--------------------------------+--------------+

+--------+----------+--------------+----------+-----+------+
|entry_id|date      |description   |account_id|debit|credit|
+--------+----------+--------------+----------+-----+------+
|JE1001  |2025-05-31|Vendor payment|1000      |500  |0     |
|JE1001  |2025-05-31|Vendor payment|2000      |0    |500   |
+--------+----------+--------------+----------+-----+------+

In [50]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, ArrayType
from pyspark.sql.functions import col, from_json, trim, when, explode, regexp_replace, explode_outer

# Initialize Spark session
spark = SparkSession.builder.appName("account_closing").getOrCreate()

# Define schema for the accounts DataFrame
account_schema = StructType([
    StructField("account_id", StringType(), True),
    StructField("name", StringType(), True),
    StructField("type", StringType(), True)    	
    ])

# Define schema for the close_tasks DataFrame
close_tasks_schema = StructType([
    StructField("task_id", StringType(), True),
    StructField("name", StringType(), True),
    StructField("assigned_to", StringType(), True),
    StructField("status", StringType(), True),
    StructField("due_date", StringType(), True)
])

# Define schema for journal_entries_data (JSON array)
journal_schema = StructType([
    StructField("entry_id", StringType(), nullable=True),
    StructField("date", StringType(), nullable=True),
    StructField("lines", ArrayType(
        StructType([
            StructField("account_id", StringType(), nullable=True),
            StructField("debit", IntegerType(), nullable=True),
            StructField("credit", IntegerType(), nullable=True),
        ])
    ), nullable=True),
    StructField("description", StringType(), nullable=True)
])

# multiline=True so Spark can parse a top-level JSON array
df_account = spark.read.option("multiline", "true").schema(account_schema).json('/app/data/accounts.json')                  

# multiline=True so Spark can parse a top-level JSON array
df_close_tasks = spark.read.option("multiline", "true").schema(close_tasks_schema).json('/app/data/close_tasks.json')

# multiline=True so Spark can parse a top-level JSON array
df_journal = spark.read.option("multiline", "true").schema(journal_schema).json('/app/data/journal_entries.json')


df_close_tasks = df_close_tasks.select("task_id", "name", "assigned_to","status", to_date("due_date", "yyyy-MM-dd").alias("due_date"))

# explode lines to inspect line-level fields
df_lines = df_journal.select("entry_id", "date", "description", explode(col("lines")).alias("line"))
df_flattened = df_lines.select("entry_id", to_date("date", "yyyy-MM-dd").alias("date"),
                "description",
                col("line.account_id").alias("account_id"),
                col("line.debit").alias("debit"),
                col("line.credit").alias("credit")
               )

# # Register DataFrame as a SQL temporary view
df_account.createOrReplaceTempView("accounts")

# # Register DataFrame as a SQL temporary view
df_close_tasks.createOrReplaceTempView("close_tasks")

# # Register DataFrame as a SQL temporary view
df_flattened.createOrReplaceTempView("journal_entries")

# # Run a Spark SQL query
df_result = spark.sql("SELECT * FROM accounts")

# # Show the results
df_result.show(truncate=False)

df_result.describe().show()

+----------+----------------+---------+
|account_id|name            |type     |
+----------+----------------+---------+
|1000      |Cash            |Asset    |
|2000      |Accounts Payable|Liability|
+----------+----------------+---------+

+-------+-----------------+----------------+---------+
|summary|       account_id|            name|     type|
+-------+-----------------+----------------+---------+
|  count|                2|               2|        2|
|   mean|           1500.0|            NULL|     NULL|
| stddev|707.1067811865476|            NULL|     NULL|
|    min|             1000|Accounts Payable|    Asset|
|    max|             2000|            Cash|Liability|
+-------+-----------------+----------------+---------+

In [51]:
# # Run a Spark SQL query
df1 = spark.sql("SELECT * FROM accounts")

# # Show the results
df1.show(truncate=False)

+----------+----------------+---------+
|account_id|name            |type     |
+----------+----------------+---------+
|1000      |Cash            |Asset    |
|2000      |Accounts Payable|Liability|
+----------+----------------+---------+

In [52]:
# # Run a Spark SQL query
df2 = spark.sql("SELECT * FROM close_tasks")

# # Show the results
df2.show(truncate=False)

+-------+--------------+-----------+-----------+----------+
|task_id|name          |assigned_to|status     |due_date  |
+-------+--------------+-----------+-----------+----------+
|T1     |Reconcile Cash|Alice      |Complete   |2025-06-05|
|T2     |Review AP     |Bob        |In Progress|2025-06-06|
+-------+--------------+-----------+-----------+----------+

In [53]:
# # Run a Spark SQL query
df3 = spark.sql("SELECT * FROM journal_entries")

# # Show the results
df3.show(truncate=False)

+--------+----------+--------------+----------+-----+------+
|entry_id|date      |description   |account_id|debit|credit|
+--------+----------+--------------+----------+-----+------+
|JE1001  |2025-05-31|Vendor payment|1000      |500  |0     |
|JE1001  |2025-05-31|Vendor payment|2000      |0    |500   |
+--------+----------+--------------+----------+-----+------+

In [ ]:
# Create a Order View (journal_entry_detail_vw)

## Apply below transformations: 
    # 1. Join account and journal entry table to give a full picture of the journal entry details at each line granularity.

In [55]:
# SQL query for the view
sql_query = """
    select 
        je.entry_id, 
        je.date, 
        je.description,
        je.account_id, 
        a.name as account_name,
        a.type as account_type,
        je.debit,
        je.credit
    from journal_entries je inner join accounts a on je.account_id = a.account_id
"""
# Execute SQL query
df_trans = spark.sql(sql_query)

df_trans.createOrReplaceTempView("journal_entry_detail_vw")

df_trans.show(truncate=False)

# df_trans.describe().show()

+--------+----------+--------------+----------+----------------+------------+-----+------+
|entry_id|date      |description   |account_id|account_name    |account_type|debit|credit|
+--------+----------+--------------+----------+----------------+------------+-----+------+
|JE1001  |2025-05-31|Vendor payment|1000      |Cash            |Asset       |500  |0     |
|JE1001  |2025-05-31|Vendor payment|2000      |Accounts Payable|Liability   |0    |500   |
+--------+----------+--------------+----------+----------------+------------+-----+------+

In [61]:

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType
from pymongo import MongoClient
from datetime import datetime
import json


mongo_uri = "mongodb+srv://ls_db_user:s47tBnWikllAoe3k@democluster0.j777gry.mongodb.net/?retryWrites=true&w=majority&appName=DemoCluster0"
s3_bucket = "s3://fq-app-analytics-bucket-1/iceberg-warehouse/ecommerce_db_raw/"

client = MongoClient(mongo_uri)
db = client["FQ_App"]
# coll = db["accounts"]
collections = ["accounts", "close_tasks", "journal_entries"]  # Replace with your collection names
        
# Get total count for progress tracking
# total_docs = coll.count_documents({})
# print(f"Total documents to process: {total_docs}")

data_from_collections = {}  # Dictionary to store data from each collection

for collection_name in collections:
    collection = db[collection_name]
    documents = list(collection.find({}))  # Retrieve all documents and convert cursor to a list
    data_from_collections[collection_name] = documents
    print(f"Downloaded {len(documents)} documents from '{collection_name}'")

# Now, 'data_from_collections' holds the data from all specified collections
# For example, to access data from 'collection1':
for collection in collections:
    print('Docs from collection:', collection)
    print(data_from_collections[collection])
    print("-------------------------------")

Downloaded 2 documents from 'accounts'
Downloaded 2 documents from 'close_tasks'
Downloaded 1 documents from 'journal_entries'
Docs from collection: accounts
[{'_id': ObjectId('68ca9a71193e5d257e046f1c'), 'account_id': '1000', 'name': 'Cash', 'type': 'Asset'}, {'_id': ObjectId('68ca9a71193e5d257e046f1d'), 'account_id': '2000', 'name': 'Accounts Payable', 'type': 'Liability'}]
-------------------------------
Docs from collection: close_tasks
[{'_id': ObjectId('68ca9b35193e5d257e046f25'), 'task_id': 'T1', 'name': 'Reconcile Cash', 'assigned_to': 'Alice', 'status': 'Complete', 'due_date': '2025-06-05'}, {'_id': ObjectId('68ca9b35193e5d257e046f26'), 'task_id': 'T2', 'name': 'Review AP', 'assigned_to': 'Bob', 'status': 'In Progress', 'due_date': '2025-06-06'}]
-------------------------------
Docs from collection: journal_entries
[{'_id': ObjectId('68ca9aca193e5d257e046f22'), 'entry_id': 'JE1001', 'date': '2025-05-31', 'lines': [{'account_id': '1000', 'debit': 500, 'credit': 0}, {'account_id': '2000', 'debit': 0, 'credit': 500}], 'description': 'Vendor payment'}]
-------------------------------

In [ ]:
# Read the JSON data from S3, which you would have uploaded in a separate step
orders_df = spark.read.json("s3a://fq-app-analytics-bucket-1/iceberg-warehouse/raw_json/orders.json")

# Write the DataFrame as an Iceberg table in the ecommerce_db_raw database
orders_df.write.format("iceberg") \
    .mode("overwrite") \
    .saveAsTable("glue_catalog.ecommerce_db_raw.orders")

In [65]:
import pyspark
print(f'PySpark version: {pyspark.__version__}')

PySpark version: 3.5.3

In [70]:
import boto3, os

os.environ['AWS_ACCESS_KEY_ID'] = 'AKIA5QMIH4RHVEXR3P4F'
os.environ['AWS_SECRET_ACCESS_KEY'] = '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'
os.environ['AWS_REGION'] = 'us-east-2'
os.environ['S3_BUCKET'] ='fq-app-analytics-bucket-1'

In [69]:


print(os.S3_BUCKET)


# # s3_bucket = "s3://fq-app-analytics-bucket-1/iceberg-warehouse/ecommerce_db_raw/"
# bucket_name = 'fq-app-analytics-bucket-1'
# object_key = 'iceberg-warehouse/ecommerce_db_raw/'
# s3 = boto3.client('s3')
# # bucket = os.getenv('S3_BUCKET')

# import boto3

# s3_client = boto3.client('s3')
# response = s3_client.list_objects_v2(
#     Bucket=s3_bucket,
#     Prefix=f"iceberg-warehouse/ecommerce_db_raw/"
# )

# for obj in response.get('Contents', []):
#     print(obj['Key'])



# response = s3.list_objects_v2(Bucket=bucket_name, Prefix=object_key)
# print(response)

# try:
#     objects = s3.list_objects_v2(Bucket=s3_bucket, Prefix='data/')
#     print('S3 objects:', [obj['Key'] for obj in objects.get('Contents', [])])
# except Exception as e:
#     print('S3 check failed:', e)

AttributeError: module 'os' has no attribute 'S3_BUCKET'